# IDE / OS
/.idea/
.DS_Store

# Dependencies
/node_modules/

# Build output
/dist/
/dev-dist/

/public/firebase/
/public/firebase-messaging-sw.js

# Env files (never commit secrets)
.env
.env.local
.env.*.local
!.env.example

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Testing / coverage
/coverage/

# Misc caches
.eslintcache
*.tsbuildinfo

# Vercel
.vercel
/.vscode/
/dev-dist/
